@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    background-color: #FFF6E9;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 5px 10px;
    
}

.profile__card::before {
    content: '';
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: blue;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}

.profile__img {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-top: 30px;
}

.image {

    border: 3px solid #FFF6E9;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    height: 50px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.job {
    font-size: 18px;
    font-weight: 500;
}

.profile__btns {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    text-decoration: none;
    background-color: blue;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    color: #FFF6E9;
    font-size: 20px;
}
